@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

:root {
  --main-background: #fffaf0;
  --main-color: #29363d;
  --sub-color: #5a6a72;
  --solid-color: #677880;
  --white-color: #f4f5f5;
  --title-fontsize: 1.6rem;
  --title-lineheight: 2rem;
  --text-fontsize: 1.4rem;
  --text-lineheight: 1.96rem;
  --small-font-size: 1.2rem;
  --small-lineheight: 1.44rem;
}

* {
  font-family: Pretendard-Regular;
  color: var(--main-color);
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  max-width: 128.4rem;
  width: 122.4rem;
  margin: auto;
}

/* header */
header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
}

header nav {
  width: 100%;
  padding: 2.2rem 10.8rem 2.3rem 10.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eee;
  background-color: #fff;
}

.welcome {
  color: red;
}

/* main */
main {
  background-color: var(--main-background);
  display: grid;
  grid-template-areas: "write list";
  grid-template-columns: 1fr 1.5fr;
}

/* writeSection */
.writeSection {
  grid-area: write;
  padding: 5.6rem 3.9rem 0 10.8rem;
  border-right: solid 2px rgba(255, 79, 110, 0.5);
  .writeSection {
    display: flex;
    flex-direction: column;
  }
}

.writeSection h2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Pretendard-Bold";
  font-size: var(--title-fontsize);
  margin-bottom: 1.6rem;
}

.writeSection h2::before {
  content: url(../src/하트.svg);
}

.writeSection form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.6rem;
}

.writeSection .titleBox {
  height: 4.8rem;
  border-bottom: solid 1px var(--solid-color);
  padding-left: 1.5rem;
}

.writeSection .titleBox::placeholder {
  font-size: var(--title-fontsize);
  line-height: var(--title-lineheight);
  color: var(--solid-color);
}

.writeSection textarea {
  height: 36rem;
  resize: none;
  border: solid 1px var(--solid-color);
  padding: 1.4rem 0 0 1.6rem;
  border-radius: 0.4rem;
}

.writeSection textarea::placeholder {
  font-size: var(--title-fontsize);
  line-height: var(--title-lineheight);
  color: var(--solid-color);
}

.writeSection button {
  height: 4.8rem;
  border-radius: 0.4rem;
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: "Pretendard-Bold";
  font-size: var(--title-fontsize);
  line-height: var(--title-lineheight);
}

/* listSection */
.listSection {
  grid-area: list;
  /* padding: 7.8rem 10.8rem 0 3rem; */
}

.listSection ol li {
  background-image: url(../src/listBox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 4rem;
  width: 72.8rem;
  position: relative;
}

.listSection ol li article {
  padding: 6.4rem 4.8rem;
}
